* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    background: url(../images/bg.jpg);
}

body {
    font-family: '宋体';
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #555;
}

#con {
    width: 1000px;
    margin: 0 auto;
    background: url(../images/bgg.jpg);
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

#banner {
    width: 840px;
    font-size: 20px;
    line-height: 50px;
    background: url(../images/banner.png);
    background-size: 100% 100%;
    height: 200px;
    border-radius: 20px;
    color: #61452C;
    padding-top: 200px;
    padding-left: 100px;
}

img {
    border-radius: 20px;
    margin: 5px 0;
}

.top {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}

nav,
footer {
    width: 1000px;
    margin: 0 auto;
    background: url(../images/top.gif);
    border-radius: 20px;
}

nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 0 30px;
    font-size: 14px;
    line-height: 100px;
    text-decoration: none;
    text-align: center;
    color: #61452C;
}

nav a:hover {
    background-color: brown;
    color: white;
}

main {
    width: 100%;
    overflow: hidden;
}

#mian_left {
    float: left;
    width: 280px;
    margin-left: 10px;
    color: #9C6F5B;
}

#mian_left img:first-child {
    width: 100%;
    margin-bottom: 10px;
}

#mian_left img:last-child {
    width: 100%;
    font-size: 0;
    margin-bottom: -4px;
}

.mian_left_table {
    border-collapse: collapse;
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    color: #535353;
}

.mian_left_table tr td {
    padding-left: 5px;
    padding: 3px 5px;
}

.mian_left_table tr td:first-child {
    width: 60px;
}

.left_txt {
    color: #535353;
    font-size: 16px;
    line-height: 25px;
    padding: 5px;
}

#main_right {
    position: relative;
    width: 680px;
    margin-left: 310px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-top: 5px;
}

#main_right h1 {
    color: #535353;
    margin: 5px 0;
    font-size: 20px;
    border-left: 10px solid #61452C;
    margin-left: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.clear {
    height: 10px;
    clear: both;
}

#lunbotu {
    width: 100%;
    background-color: #535353;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#lunbotu img {
    width: 100%;
    height: 100%;
}

.con_Introduction {
    padding-bottom: 10px;
}

.con_Introduction p {
    padding: 0 5px;
    font-size: 16px;
    color: #555;
    line-height: 25px;
    text-indent: 2rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.bottom_img {
    width: 100%;
    font-size: 0;
}

.bottom_img img {
    width: 100%;
}

footer {
    margin-top: 30px;
    line-height: 100px;
    margin-bottom: 0;
    text-align: center;
    color: #61452C;
    border-radius: 20px 20px 0 0;
}

h2 {
    font-size: 18px;
    padding: 0 10px;
    margin-top: 20px;
    color: #535353;
    font-weight: bold;
}

.yz {
    padding-bottom: 10px;
}

.yz_img {
    width: 30%;
    float: left;
    font-size: 0;
    text-align: center;
    margin: 10px;
    border-top: 1px dashed #cecece;
    border-bottom: 1px dashed #cecece;
    padding: 10px 0;
}

.yz_img>div {
    display: inline-block;
    margin: 0 20px;
    background-color: #efeded;
}

.yz_img>div p {
    font-size: 16px;
    text-align: left;
    margin: 5px;
    padding: 0 5px;
    line-height: 25px;
    letter-spacing: 2px;
}

.yz_img img {
    width: 260px;
    height: 170px;
}

.yz>p {
    padding: 0 5px;
    font-size: 16px;
    color: #555;
    line-height: 25px;
    text-indent: 2rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.con_nature {
    padding: 0 10px;
    font-size: 0;
}

.con_nature img {
    width: 100%;
    margin: 10px 0;
    height: 240px;
}

.con_nature p {
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    margin: 5px;
    letter-spacing: 2px;
}

.con_rw ul {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.con_rw ul a {
    text-decoration: none;
    color: #32393F;
}

.con_rw ul a span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    padding: 0 5px;
    line-height: 25px;
    letter-spacing: 1px;
}

.con_rw ul li {
    display: inline-block;
    width: 280px;
    margin: 20px 10px;
    border: 1px dashed #555;
    padding-bottom: 10px;
    background-color: #e5e5e5;
    border-radius: 20px;
}

.con_rw ul li img {
    width: 100%;
    height: 202px;
}

.con_rw>img {
    width: 100%;
}

.con_rw>p {
    font-size: 16px;
    padding: 0 5px;
    line-height: 25px;
    text-indent: 2rem;
    letter-spacing: 2px;
}

.con_pianduan {
    padding: 0 5px;
}

.con_pianduan img {
    width: 500px;
    margin: 10px 0;
}

.pianduan_img {
    text-align: center;
}

.con_pianduan p {
    font-size: 16px;
    text-indent: 2rem;
    line-height: 25px;
    letter-spacing: 2px;
}

.con_picture {
    text-align: center;
}

.con_picture li {
    display: inline-block;
    width: 203px;
    margin: 5px 10px;
    background-color: #555;
    color: #fff;
    padding-bottom: 5px;
    border-radius: 20px;
}

.con_picture li img {
    width: 100%;
    height: 132px;
}

.con_picture li span {
    display: block;
    text-align: left;
    font-size: 16px;
    padding: 0 5px;
}

.liuyanpng {
    width: 100%;
}

#msg_div {
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
}

#msg_div p {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 25px;
}

.input1 input {
    width: 240px;
    height: 25px;
    padding: 3px;
    border: 1px solid #ccc;
}

textarea {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 150px;
    font-family: '宋体';
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
}

#bottom_button {
    text-align: right;
}

#bottom_button button {
    cursor: pointer;
    width: 60px;
    height: 28px;
    background-color: #32393F;
    color: #fff;
    border: 0;
    text-align: center;
}

a {
    color: #32393F;
    text-decoration: none;
}

.yz a {
    float: left;
    display: inline-block;
}

.yz_img div {
    background-color: white;
    padding: 20px;
    width: 255px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.yz_img img {
    height: 230px;
}

.hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.yuanze_main {
    width: 100% !important;
    margin-left: 0 !important;
}

video {
    border-radius: 20px;
    margin: 5px 0;
}